html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  background-color: grey;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  *::after {
    clear: both;
    content: "";
    display: table; }

.todoWrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 22.17749%;
  background-color: transparent;
  display: block;
  position: relative;
  border: solid 0px green;
  border-radius: 4px;
  margin-top: 65px; }
  .todoWrapper:last-child {
    margin-right: 0; }
  .todoWrapper input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    display: block;
    background-color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    color: #020202;
    border-style: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    position: absolute;
    outline: none; }
    .todoWrapper input:last-child {
      margin-right: 0; }
  .todoWrapper #todo-input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 0.5px solid #020202;
    border-left: 0.5px solid #020202;
    border-top: 0.5px solid #020202;
    text-align: center;
    font-size: 1.3em;
    display: block; }
  .todoWrapper .add-btn {
    border-style: none;
    border: 0px solid #020202;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0.5px solid #020202;
    border-right: 0.5px solid #020202;
    border-left: 0.5px solid #020202;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    top: 26px; }
  .todoWrapper section {
    background-color: #FFFFFF;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: auto;
    border: solid 0px green;
    border-radius: 4px; }
    .todoWrapper section:last-child {
      margin-right: 0; }

ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 51px;
  list-style: none;
  padding: 5px 0 0 15px;
  background-color: #FFFFFF;
  display: block; }
  ul:last-child {
    margin-right: 0; }
  ul:nth-child(2n) {
    margin-right: 0; }
  ul:nth-child(2n+1) {
    clear: left; }
  ul a {
    border-style: none;
    text-decoration: none;
    color: #FFFFFF;
    width: 48.1%;
    display: inline-block; }

li {
  margin: 2px 0 2px 0;
  font-family: 'Arial', sans-serif;
  font-size: 0.85em;
  display: block;
  border: solid 0px #520603;
  border-radius: 4px;
  background-color: #FF2A1A;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  height: 26px;
  text-align: center;
  overflow: hidden;
  text-overflow: wrap; }

@media (min-width: 900px) {
  .todoWrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 17.05961%; }
    .todoWrapper:last-child {
      margin-right: 0; } }
